In [8]:
import duckdb
con = duckdb.connect("../../data/finance_data.db")

# List tables
con.sql("SHOW TABLES").df()

IOException: IO Error: Could not set lock on file "/Users/henrifrilund/work/afv_prod/src/notebooks/../../data/finance_data.db": Conflicting lock is held in /Users/henrifrilund/anaconda3/bin/python3.11 (PID 55680) by user henrifrilund. See also https://duckdb.org/docs/stable/connect/concurrency

In [5]:
con.sql("select json_extract_string(data, '$.averageDailyVolume3Month.0') as avg_daily_volume from yahoo_data where symbol = 'FLNG' and dataset = 'info'").df()

  avg_daily_volume
0           493374

In [165]:
con.sql("select * from afv_20_scores where afv <> 'NaN' order by afv desc limit 100").df()

,symbol,afv,rp,fcf_yield,ocf_margin,ocf_margin_volatility,sector_score,geo_score,debt_score,trend_score,vd_score,computed_at
0,0QF.DE,4.111956,2.811955,0.252012,0.267997,8.211475,1.0,0.8,1.0,-1.0,-0.5,2025-09-22 10:30:16.138696
1,1CNC.MI,2.896768,1.596768,0.240243,0.031778,0.689594,1.0,0.8,0.5,-1.0,0.0,2025-09-22 10:30:17.459578
2,1ALV.MI,0.500000,0.000000,0.168457,0.246511,0.136263,-1.0,1.0,0.0,0.5,0.0,2025-09-22 10:30:16.847966
3,1CNHI.MI,0.206105,-0.793895,0.057619,0.085806,0.918888,1.0,1.0,-1.5,0.5,0.0,2025-09-22 10:30:17.720339
4,1COV.DE,0.141886,-0.858114,0.044530,0.080574,0.479616,0.5,1.0,0.5,-0.5,-0.5,2025-09-22 10:30:17.850553
5,1AAL.MI,-0.823127,-0.623127,0.079511,0.057374,0.449029,-1.0,0.8,0.0,0.0,0.0,2025-09-22 10:30:16.722035
6,1BNP.MI,-1.000000,0.000000,-0.425061,-0.593384,1.708210,-1.0,1.0,0.0,-1.0,0.0,2025-09-22 10:30:16.983204
7,11B.WA,-1.100000,-1.200000,-0.020307,0.314092,0.573047,0.0,0.6,1.0,-0.5,-1.0,2025-09-22 10:30:16.490642
8,1CLSK.MI,-1.200000,0.000000,-0.111786,-0.280480,2.883454,-1.0,0.8,0.0,-1.0,0.0,2025-09-22 10:30:17.223159

In [52]:
con.sql("select current_timestamp + INTERVAL 1 MONTH").df()

  (current_timestamp + to_months(CAST(trunc(CAST(1 AS DOUBLE)) AS INTEGER)))
0                   2025-10-19 14:12:36.751380+03:00

In [40]:
con.sql("insert into yahoo_data (symbol, dataset, data, ts) values ('test', 'test', '{}')")

BinderException: Binder Error: Column name/value mismatch for insert on yahoo_data: expected 4 columns but 3 values were supplied

In [9]:
con.sql("select *  from tickers where mic = 'FCX'").df()

ConnectionException: Connection Error: Connection already closed!

In [171]:
con.sql("drop table afv_20_scores").df()

AttributeError: 'NoneType' object has no attribute 'df'

In [159]:
con.sql("delete from afv_20_scores").df()

AttributeError: 'NoneType' object has no attribute 'df'

In [6]:
con.close()